@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  gap: 10px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}
.grid-container {
  border: 3px solid red;
  width: 90%;
  height: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.palette {
  border: 3px solid blue;
  width: 100%;
  height: 100%;
  display: grid;
}
