@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header,
.panel,
.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  gap: 10px;
}

h1 {
  font-size: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.panel {
  font-size: 24px;
  flex-direction: column;
}

.color-picker {
  width: 75px;
  /* height: 75px; */
  margin: 0 auto;
  /* border: none; */
  cursor: pointer;
}
.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}
.grid-container {
  border: 3px solid red;
  width: 90%;
  height: 90%;
}
.palette {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: grid;
}

.footer {
  background-color: #dddddd;
  text-align: center;
  padding: 8px;
}
.heart {
  color: #ff0000;
}
